<p><%= respuesta %></p>
<%if(respuesta=='Incorrecto'){ %>
<p>La primera letra es: <%= quiz.respuesta.charAt(pista);%>

<%
 } %></p>
<a href="/quizes/<%= quiz.id%>?nPistas=<%= pista %>">Inténtelo otra vez</a>